name: Run Integrations Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Set up .NET environment (assuming C# is the primary language)
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          dotnet-version: '8.0.x' # Adjust to your target version

      # Install dependencies
      - name: Install dependencies
        run: dotnet restore tna-judgments-parser.sln

      # Build
      - name: Build
        run: dotnet build tna-judgments-parser.sln --no-restore --configuration release

      # Run tests
      - name: Run tests
        run: dotnet test tna-judgments-parser.sln --no-build --configuration release
